# clang-format version: 20
# ---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 2

PointerAlignment: Left

AlignArrayOfStructures: Left
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveBitFields: AcrossComments

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: Inline

BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: After

BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakStringLiterals: false
BreakAfterAttributes: Always

IncludeBlocks: Regroup
SortIncludes: CaseSensitive

IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: true

InsertBraces: true
InsertTrailingCommas: Wrapped
IntegerLiteralSeparator:
  Binary: 8
  Decimal: 4
  Hex: 2

SpaceAroundPointerQualifiers: After
SpaceInEmptyBlock: true
SpacesBeforeTrailingComments: 2
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1

ForEachMacros: [
    # other
    "u_each",

    # arr
    "u_arr_each",
    "u_arr_each_if",
    "u_arr_each_mut",
    "u_arr_each_if_mut",
    "u_arr_reach",
    "u_arr_reach_if",
    "u_arr_reach_mut",
    "u_arr_reach_if_mut",

    # vec
    "u_vec_each",
    "u_vec_each_if",
    "u_vec_each_ref",
    "u_vec_each_if_ref",
    "u_vec_each_mut",
    "u_vec_each_if_mut",

    "u_vec_reach",
    "u_vec_reach_if",
    "u_vec_reach_ref",
    "u_vec_reach_if_ref",
    "u_vec_reach_mut",
    "u_vec_reach_if_mut",

    # tree
    "u_tree_each",
    "u_tree_each_if",
    "u_tree_each_ref",
    "u_tree_each_if_ref",
    "u_tree_each_mut",
    "u_tree_each_if_mut",

    # dict
    "u_dict_each",
    "u_dict_each_if",
    "u_dict_each_ref",
    "u_dict_each_if_ref",
    "u_dict_each_mut",
    "u_dict_each_if_mut",

    # list
    "u_list_each_ref",
    "u_list_each_if_ref",
    "u_list_each_mut",
    "u_list_each_if_mut",

    "u_list_reach_ref",
    "u_list_reach_if_ref",
    "u_list_reach_mut",
    "u_list_reach_if_mut",
  ]

IfMacros: [
    # other
    "u_mtx_if",
    "u_spmtx_if",
    "u_rwmtx_if",

    # vec
    "u_vec_try_at",
    "u_vec_try_at_ref",
    "u_vec_try_at_mut",

    # tree
    "u_tree_try_at",
    "u_tree_try_at_ref",
    "u_tree_try_at_mut",

    # dict
    "u_dict_try_at",
    "u_dict_try_at_ref",
    "u_dict_try_at_mut",
  ]
