name: clang-format Check
on: [push, pull_request]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - 'src/core'
          - 'src/util'
          - 'inc/u/'
          - 'inc/u/core'
          - 'inc/u/util'
          - 'inc/u/__macro'
    steps:
    - uses: actions/checkout@v3
    - name: Run clang-format style check for C/C++/Protobuf programs.
      uses: jidicula/clang-format-action@v4.16.0
      with:
        clang-format-version: '21'
        check-path: ${{ matrix.path }}
